$main-blue: #5766c2;
$dark-blue: #3e4a98;
$light-blue: #b4beff;

.result {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;

  h2 {
    font-size: 40px;
    color: $main-blue;
  }
}

.resultBlock {
  display: flex;
  gap: 20px;
  width: 950px;
  height: 600px;
  border: 3px solid $light-blue;
  border-radius: 10px;
  overflow: hidden;
}

.left {
  width: 40px;
  background-color: $light-blue;
  position: sticky;
  top: 0;
  height: 100%;
  color: $light-blue;
}

.right {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

.string {
  display: flex;
  gap: 30px;
}
