$main-blue: #5766c2;
$dark-blue: #3e4a98;
$light-blue: #b4beff;

.try {
  padding: 50px 50px;
}

.addImgBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 600px;
  margin-top: 50px;
}

.tryLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tryText {
  width: 830px;
  display: flex;
  flex-direction: column;
  border: 1px solid $main-blue;
  padding: 20px 50px;
  border-radius: 10px;
}

.tryText ul {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tryText h5 span {
  font-size: 55px;
  color: $dark-blue;
  margin-right: 10px;
}

.tryText h5 {
  display: flex;
  align-items: center;
}

.select {
  margin-top: 20px;
  color: $dark-blue;
  font-size: 15px;
}

.string {
  display: flex;
  gap: 30px;
}
